<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 450px;"> 
            <div class="card-header text-center">
                <img class="card-img-top mx-auto m-2 rounded-circle d-block" 
                     src="/img/logo.png" 
                     alt="logo" 
                     style="width: 150px; height: 150px;"> 
                <h3 class="text-uppercase text-center p-4">CRUD Node y MySQL</h3>
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas laborum quod, molestias nesciunt qui iusto debitis aut, nulla maiores repudiandae temporibus voluptate? Hic, aperiam assumenda.</p>
                <a href="/add" class="btn btn-primary">Crear Persona</a>
            </div>
        </div>
    </div>
</main>
