<div class="conteiner p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase"> CREAR PERSONAS</h3>
                </div>
                <div class="card-body">
                    <form action="/add" method="post">
                    <div class="input-group mt-2">
                     <label for="nombre" class="input-group-text">Nombre</label>
                     <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" autofocus required>
                     </div>
    
                    <div class="input-group mt-2">
                     <label for="edad" class="input-group-text">Edad</label>
                     <input class="form-control" type="text" name="edad" id="edad" placeholder="Ingrese su edad" autofocus required>
                     </div>
                    
                    <div class="input-group mt-2">
                     <label for="correo" class="input-group-text">Correo</label>
                     <input class="form-control" type="text" name="correo" id="correo" placeholder="Ingrese su correo" autofocus required >
                     </div>
                    <div class="form-group mt-4 d-grid gap-2">
                        <button class="btn btn-success"> Crear </button>
                    </div>
                    
                    </form>       
                </div>
            </div>
        </div>
    </div>
</div>